<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @licture.content %>
</p>

<p>
  <strong>Attachment:</strong>
  
   
<%= link_to 'Download ', download_licture_path(@licture) %>

<p>
  <strong>Course:</strong>
  <%= @licture.course.title %>
</p>
</p>
<h4>Comments</h4>
<div id="comments">
  <%= render :partial => @licture.comments %>
</div>
<p>
<%= simple_form_for [@licture , Comment.new] do |f| %>

<%= f.input :body, :label => "New Comment", as: :text, input_html: {rows: "3"} %>

</p>
<p>
  <%= f.submit "Add Comment", class: "btn btn-primary" %>
</p>
<% end %>


<%= link_to 'Edit', edit_licture_path(@licture) %> |
<%= link_to 'Back', lictures_path %>
