<div class="container">
  <h2>Listing Courses</h2>
  
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Created By</th>
      </tr>
    </thead>
    <tbody>
     <% @courses.each do |course| %>
      <tr>
        <td><%= course.title %></td>
        <td><%= course.user.name %></td>
        <td><%= link_to 'Show', course %></td>
  
  <% if (user_signed_in? && (current_user.id==course.user.id))   %>
        
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'New Licture', new_licture_path %> </td>
      </tr>
        <%end %>
      <%  end %>
   <tr><% if (user_signed_in? )   %>
<%= link_to 'Create New Course', new_course_path %>
<%  end %></tr>
    </tbody>
  </table>
</div>
<br>

