<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @course.user.name %>
</p>


  <strong>The Lectures:</strong>
  <% @course.lictures.each do |lc| %>
       <li> <%= link_to lc.content, licture_path(:id => lc.id) %></li>
	  <% end %>
 


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
